ul#menu,
#menu ul {
	padding: 0;
	margin: 0;
	list-style: none;
	font-family: Arial, sans-serif;
	}
#menu li {
	float: left;
	text-align: center;
	position: relative;
	}
#menu > li {
	background: #7F7F7F;
}
#menu li:hover,
#menu li ul li {
	background: #c9c9c9;
	}
#menu li a {
	display: block;
	width: 150px;
	height: 45px;
	line-height: 45px;
	color: #fff;
	text-decoration: none;
	}
#menu li:hover a {
	color: #7F7F7F;
}		
#menu li ul {
	display: none;
	position: absolute;
	left: 0;
	top: 45px;
	}
#menu li:hover ul {
	display: block;
}
